body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.profile {
  display: flex;
}

#img-person {
  margin: 20px 20px 20px 30px;
  height: 10%;
  width: 10%;
  border-radius: 50%;
}

.person-data {
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
  display: grid;
  width: 50%;
  border: solid black;
  padding: 20px;
  border-radius: 15px;
}

.detail-person-data {
  list-style: None;
  justify-content: space-between;
  display:flex;
}

#person-name {
  margin-left: -32px;
}

#label-course {
  margin-left: 30px;
}


#label-taken-project {
  margin-left: 30px;
}

#label-added-project {
  margin-left: 30px;
}



